.header {
    background-color: darkturquoise;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navigation {
    height: 40px;
}

.nav-list {
    margin: 0;
    height: 40px;
    line-height: 2.5;
}

.nav-item {
    display: inline-block;
    margin-left: 16px;
    color: white;
}

.content {
    background-color: beige;
    height: 5000px;
    position: relative;
}

.head {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin: 0 auto;
    top: 400px;
    position: relative;
}

.ear {
    width: 40px;
    height: 60px;
    background-color: brown;
    position: absolute;
    top: -60px;
}

.ear_right {
    left: 100%;
}

.ear_left {
    right: 100%;
}

.eye {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    top: 80px;
}

.eye_right {
    right: 40px;
}

.eye_left {
    left: 40px;
}