@import "breakpoints.scss";
* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    @include for-landscape {
        flex-direction: row;
    }
    @include for-portrait {
        flex-direction: column;
    }
}

.square {
    width: 100px;
    height: 100px;
    margin: 8px;
    @include for-small {
        background-color: #ff7f50;
    }
    @include for-medium {
        background-color: #8a2be2;
    }
    @include for-large {
        background-color: #a61;
    }
    @include for-xlarge {
        background-color: #c47;
    }
}