.image {
    padding: 0;
    width: 201px;
    height: 201px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px dotted grey;
    margin: 16px;
    background-clip: border-box;
    display: inline-block;
}