* {
    box-sizing: border-box;
    border-collapse: collapse;
}

td {
    height: 50px;
    width: 50px;
    text-align: center;
}

td:empty {
    border: 1px solid black;
}

table {
    margin: 16px;
    border: 1px solid black;
}

table tr:not(:first-child):not(:last-child):nth-child(even) td:not(:first-child):not(:last-child):nth-child(odd),
table tr:not(:first-child):not(:last-child):nth-child(odd) td:not(:first-child):not(:last-child):nth-child(even) {
    background-color: blacK;
}