* {
    box-sizing: border-box;
}

.block {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background-color: coral;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    animation: slideDown 2s ease forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slideDown {
    from {
        top: -100px;
    }
    to {
        top: calc(50vh - 50px);
    }
}