li {
    margin-bottom: 16px;
}

ol li {
    background-color: green;
    color: white;
}

ul li {
    background-color: orange;
    color: white;
}

li span:contains("Antarctica") {
    border: 3px solid red;
}