* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text {
    margin: 16px;
    text-decoration: underline dotted black 1px;
    display: inline-block;
    position: relative;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    bottom: -40px;
    left: 0;
    background-color: grey;
    color: white;
    border-radius: 4px;
    padding: 8px;
    white-space: nowrap;
    z-index: 1;
}

.text:hover .tooltip {
    visibility: visible;
    opacity: 1;
}