* {
    box-sizing: border-box;
}

form {
    margin: 32px;
}

input,
textarea,
select,
button {
    display: block;
    margin-bottom: 8px;
}

#html,
#css,
#js {
    display: inline-block !important;
}

.languages {
    margin-bottom: 8px;
}

button {}