* {
    box-sizing: border-box;
}

form {
    margin: 32px;
}

input,
textarea,
select,
button {
    display: block;
    margin: 8px;
}

#html,
#css,
#js {
    display: inline-block !important;
}

input[type="checkbox"] {
    margin: 16px 8px;
}