.container> :nth-child(1) {
    display: none;
}

.container> :nth-child(2) {
    visibility: hidden;
    width: 100px;
    height: 100px;
}

.container> :nth-child(3) {
    visibility: visible;
    width: 100px;
    height: 100px;
    background-color: orange;
}