.checkbox {
    position: relative;
    padding-left: 35px;
    font-size: 24px;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkmark {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-color: #d3d3d3;
}

.checkbox input[type="checkbox"]:checked+.checkmark {
    background-color: #006400;
}