.checkbox {
    position: relative;
    padding-left: 35px;
    font-size: 24px;
    margin: 16px 16px 16px 14px;
    display: inline-block;
}

.checkbox input[type="checkbox"] {
    display: none;
    width: 0;
    height: 0;
}

.checkmark {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    display: inline-block;
    background-color: #d3d3d3;
}

.checkbox input[type="checkbox"]:checked+.checkmark {
    background-color: #006400;
}