p:first-of-type::first-letter {
    font-size: 36px;
    color: orange;
    margin-left: 16px;
}

p:first-of-type::first-line {
    font-size: 24px;
}

p:first-of-type::selection {
    color: white;
    background-color: red;
}

a::before {
    content: ">";
}

a::after {
    content: "<";
}